.upButton{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(20px + 1vw);
    text-align: center;
    width:80px;
    height: 80px;
    border-radius: 100px;
    background-color: rgb(4, 133, 192);
    bottom: 150px;
    right: 50px;
    cursor: pointer;
    outline: 5px solid rgba(29, 119, 255, 0.603);
    user-select: none;
    animation: 0.8s flash;
}
.upButton:active{
    animation: 0.2s closeButton;
    
}
@keyframes flash {
    from{
        margin-top: 180px;
        opacity: 0;
    }
    to{
       margin-top: 0px;
       opacity: 1;
    }
}

@keyframes closeButton {
    from{

        transform: rotate(0deg);

    }
    to{

        transform: rotate(180deg);
        opacity: 0;
    }
}