.DealerPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
    background-color: rgb(241, 241, 241);
}


.name{
    font-size: calc(25px + 1vw);
    font-weight: 500;
    color: rgb(49, 49, 49);
    font-weight: 600;
}
.name > span{
    font-weight: 800;
    text-transform: uppercase;
    background-color: rgb(111, 126, 255);
    color: white;
    padding: 0 15px;
}
.address{
    color: rgb(49, 49, 49);
    font-size: calc(8px + 1vw);
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.address > span{
    font-weight: 500;
    color: white;
    background-color: rgb(111, 126, 255);
    padding: 0 10px;
}
.description{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: calc(5px + 1vw);
}
.description > span{
    font-size: calc(3px + 1vw);
    margin-left: 15px;
}
.wrap{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: left;
    gap: 50px;
    padding: 50px 25px;
    width: 80%;
   
    border-radius: 10px;

    background-color: rgb(255, 255, 255);;
    
    transition: 0.4s;

}


.wrapImg > img:hover{
    
    width: calc(360px + 10vw);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.4);
}
.wrapImg > img{
    width: calc(350px + 10vw);
    border-radius: 5px;
    transition: 0.2s;
}
.wrapImg{
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
}
.wrapData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 40px;
    animation: 1s flash;
}
.wrapBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapBtn button{
    height: 150px;
    padding: 0 25px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(111, 126, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 5px;
    animation: 1s backButtonToLeft forwards;
}
.wrapBtn button:hover{
    background-color: rgb(7, 106, 255);
    color: white;
}
/* Modal window for image */

.wrapModalImg{
    width: 100%;
    height: 100vh;
    position:fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.699);
    
    z-index: 100;
}
.modalImg{
    width: 60%;
    
}
.closeModal{
    position: relative;
    left: 32%;
    font-size: calc(10px + 1vw);
    cursor: pointer;
    transition: 0.4s;
}
.closeModal:hover{
    font-size: calc(11px + 1vw);
}
@keyframes backButtonToLeft {
    from{
        margin-right: 0px;
    }
    to{
        margin-right: 50px;
    }
}
@keyframes flash {
    from{
        margin-top: 180px;
        opacity: 0;
    }
    to{
       margin-top: 0px;
       opacity: 1;
    }
}