.DealerPage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.name{
    font-size: calc(25px + 1vw);
    font-weight: 500;
    color: rgb(61, 61, 61);
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;

}
.address{
    color: rgb(49, 49, 49);
    font-size: calc(10px + 1vw);
}
.wrap > img{
    width: 60%;
    border-radius: 15px;
}